/* 系统主题颜色 */
@color-primary: #52c41a;

@primary-color: @color-primary;

@layout-header-height: 40px;
@border-radius-base: 2px;
.ant-menu-horizontal {
    border-bottom: none;
  }

//   .login-form {
//     margin-top: 150px;
//     max-width: 300px;
//   }
//  .login-form-forgot {
//     float: right;
//   }
//  .login-form-button {
//     width: 100%;
//   }